<template>
  <div class="products__items">
    <div class="products__items--cards">
      <handbag-card
        @click.native="
          $router.push({
            name: 'ProductView',
            params: { id: product.id },
          })
        "
        v-for="product in allProducts"
        :productInfo="product"
        :key="product.id"
      ></handbag-card>
    </div>
    <div class="products__pagination">
      <!-- <products-pagination></products-pagination> -->
    </div>
  </div>
</template>

<script>
import HandbagCard from "@/components/utilities/HandbagCard";
// import ProductsPagination from "@/components/utilities/Pagination";
import { mapGetters } from "vuex";
export default {
  components: {
    HandbagCard,
    // ProductsPagination,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters("product", ["allProducts"]),
  },
};
</script>
