.divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.07);
}

.font-bold {
  font-weight: 700;
}

.loader-small {
  border: 5px solid #fff;
  border-radius: 50%;
  border-top: 5px solid transparent;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-padding-big {
  border: 5px solid #1d6788;
  border-radius: 50%;
  border-top: 5px solid transparent;
  margin: 200px auto;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
