<template>
  <div class="product-details">
    <div class="product-details--title">Lorem Ipsum Dolor Sit Amit</div>
    <div class="divider"></div>
    <div class="product__amounts">
      <div class="product__ask">
        <div class="product--total">
          <div class="product--label">{{ $t("productview.lowestask") }}</div>
          <div class="product--amount">{{ productDetails.lowestAsk }}</div>
        </div>
        <div class="product--proceed">
          <router-link
            :to="{ name: 'Buy' }"
            tag="div"
            class="product__ask--button btn btn--red btn--large"
            >{{ $t("productview.buy") }}</router-link
          >
          <a class="product__ask--all" @click="modelTrade('bids')">{{
            $t("productview.viewallbids")
          }}</a>
        </div>
      </div>
      <div class="product__bid">
        <div class="product--total">
          <div class="product--label">{{ $t("productview.highestbid") }}</div>
          <div class="product--amount">{{ productDetails.highestBid }}</div>
        </div>
        <div class="product--proceed">
          <router-link
            :to="{ name: 'Sell' }"
            tag="div"
            class="product__bid--button btn btn--large btn--blue"
            >{{ $t("productview.sell") }}</router-link
          >
          <a class="product__bid--all" @click="modelTrade('asks')">{{
            $t("productview.viewallask")
          }}</a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="product__con">
      <div class="product__con--title">{{ $t("productview.condition") }}</div>
      <div class="product__con--detail">
        {{ productDetails.condition }}
      </div>
    </div>
    <div class="divider"></div>
    <div class="product__spec">
      <div class="product__spec--title">
        {{ $t("productview.productspecs") }}
      </div>
      <div class="product__spec--detail">
        <ul class="product__spec--list">
          <li class="product__spec--item">
            <div class="product__spec--left">Brand</div>
            <div class="product__spec--right">{{ productDetails.brand }}</div>
          </li>
          <li class="product__spec--item">
            <div class="product__spec--left">Retail Price</div>
            <div class="product__spec--right">
              {{ productDetails.retailPrice }}
            </div>
          </li>
          <li class="product__spec--item">
            <div class="product__spec--left">Verification</div>
            <div class="product__spec--right">
              {{ productDetails.verification }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("product", ["productDetails", "filteredBids"]),
  },
  methods: {
    ...mapActions("product", [
      "getProductContent",
      "getProduct",
      "getBids",
      "getAsks",
    ]),
    modelTrade(modelType) {
      this.$store.state.product.tradeModel = true;
      this.$store.state.product.modelType = modelType;
    },
  },
  mounted() {
    /* this.getProductContent();
    if (this.$store.state.product.productId) {
      this.getBids();
      this.getAsks();
    } */
  },
};
</script>
