<template>
  <div class="dashboard__right">
    <div class="dashboard__right--inner">
      <div class="loader-padding-big" v-show="$store.state.loading"></div>
      <div class="d-trade" v-show="!$store.state.loading">
        <!-- <div class="d-trade__nos">
          <div class="d-trade__s">
            <div class="d-trade__s--icon">
              <div class="material-icons">equalizer</div>
            </div>
            <div class="d-trade__s--content">
              <div class="d-trade__s--text">{{$t("selling.sales")}}</div>
              <div class="d-trade__s--nos">--</div>
            </div>
          </div>
          <div class="d-trade__no">
            <div class="d-trade__no--icon">
              <span class="material-icons">escalator</span>
            </div>
            <div class="d-trade__no--content">
              <div class="d-trade__s--text">{{$t("selling.sales")}} (#)</div>
              <div class="d-trade__s--nos">--</div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="d-trade--search-bar">
          <input type="text" class="d-trade--search-bar__input" />
          <div class="d-trade--search-bar__button">Search</div>
        </div> -->
        <div
          v-show="!sellings.length"
          style="font-size: 25px; margin-top: 30px; color: #555; font-weight: 300; text-align: center;"
        >
          <div style="font-size: 20rem;" class="material-icons">
            search_off
          </div>
          <div class="no-results" style="font-weight: 500;">
            No Results Found! Try placing asks
          </div>
        </div>
        <div class="d-trade__table">
          <md-table
            style="height: 380px; border: 1px solid rgba(0,0,0,.2); padding-top: 1rem;"
            v-model="sellings"
            v-show="sellings.length"
            md-card
            md-fixed-header
          >
            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell md-label="Id">{{ item.Id }}</md-table-cell>
              <md-table-cell md-label="Product Id">{{
                item.Product_Id
              }}</md-table-cell>
              <md-table-cell md-label="Product Name">{{
                item.Product_Name
              }}</md-table-cell>
              <md-table-cell md-label="User Id">{{
                item.User_Id
              }}</md-table-cell>
              <md-table-cell md-label="User Name">{{
                item.User_Name
              }}</md-table-cell>
              <md-table-cell md-label="Ask">{{ item.Ask }}</md-table-cell>
            </md-table-row>
          </md-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      users: null,
    };
  },
  computed: {
    ...mapState("sellerDashboard", ["sellings"]),
  },
  methods: {
    ...mapActions("sellerDashboard", ["getSellings"]),
  },
  mounted() {
    this.getSellings();
    this.users = this.sellings;
  },
};
</script>
