<template>
  <div class="login">
    <div class="form-input">
      <input type="email" v-model="email" placeholder="Email Address" />
    </div>
    <div class="form-input">
      <input type="password" v-model="password" placeholder="Password" />
    </div>
    <div class="register-btn" @click="login">
      <div class="loader-small" v-show="$store.state.loading"></div>
      <div v-show="!$store.state.loading">Log In</div>
    </div>
    <div class="do-you-accept">
      By logging in, you agree to the
      <span class="highlighting-text-form">&nbsp;Terms of Service&nbsp;</span>
      and
      <span class="highlighting-text-form">&nbsp;Privacy &nbsp;Policy</span>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import toaster from "@/mixins/toaster.js";

export default {
  mixins: [toaster],
  computed: {
    email: {
      get() {
        return this.$store.state.register.loginEmail;
      },
      set(value) {
        this.$store.state.register.loginEmail = value;
      },
    },
    password: {
      get() {
        return this.$store.state.register.loginPassword;
      },
      set(value) {
        this.$store.state.register.loginPassword = value;
      },
    },
  },
  methods: {
    ...mapActions("register", ["login"]),
  },
};
</script>
