<template>
  <div class="signup">
    <!-- <div class="social-media-label twitter">
      <div class="social-media-label-icon">
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
      <div class="social-media-label-text">Login In With Twitter</div>
    </div>
    <div class="social-media-label facebook">
      <div class="social-media-label-icon">
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
      <div class="social-media-label-text">Login In With Facebook</div>
    </div>
    <div class="or-divider">
      <div class="or-divider-line"></div>
      <div class="or-divider-text">OR</div>
      <div class="or-divider-line"></div>
    </div>-->
    <div class="form-input">
      <input type="text" placeholder="First Name" v-model="firstName" />
    </div>
    <div class="form-input">
      <input type="text" placeholder="Last Name" v-model="lastName" />
    </div>
    <div class="form-input">
      <input type="email" placeholder="Email Address" v-model="email" />
    </div>
    <div class="form-input">
      <input type="password" placeholder="Password" v-model="password" />
    </div>
    <!-- <div class="agree-terms">
      <input type="checkbox" id="agree-terms" />
      <label for>
        <div class="do-you-accept">
          By Signing Up, you agree to the
          <span class="highlighting-text-form"
            >&nbsp;Terms of Service&nbsp;</span
          >
          and
          <span class="highlighting-text-form">&nbsp;Privacy &nbsp;Policy</span>
        </div>
      </label>
    </div> -->
    <div class="register-btn" @click="signup">
      <div class="loader-small" v-show="$store.state.loading"></div>
      <div v-show="!$store.state.loading">Sign Up</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import toaster from "@/mixins/toaster.js";

export default {
  mixins: [toaster],
  computed: {
    firstName: {
      get() {
        return this.$store.state.register.signupFirstName;
      },
      set(value) {
        this.$store.state.register.signupFirstName = value;
      },
    },
    lastName: {
      get() {
        return this.$store.state.register.signupLastName;
      },
      set(value) {
        this.$store.state.register.signupLastName = value;
      },
    },
    email: {
      get() {
        return this.$store.state.register.signupEmail;
      },
      set(value) {
        this.$store.state.register.signupEmail = value;
      },
    },
    password: {
      get() {
        return this.$store.state.register.signupPassword;
      },
      set(value) {
        this.$store.state.register.signupPassword = value;
      },
    },
  },
  methods: {
    ...mapActions("register", ["signup"]),
  },
  mounted() {
    console.log(this.firstName);
  },
};
</script>
